@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
  
body{
    font-family: "Inter", serif;
}


.toast__error{
    background: rgb(248, 64, 64) !important;
}

.toast__success{
    background: rgb(79, 123, 255) !important;
    color: #222;
}